@{ ViewData["Title"] = "CRM Notes"; }

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<button type="button" class="btn btn-default pull-right" onclick="qlikApps['8db019c1-fd16-444a-a7d4-c1badc890ba8'].field('Initials').selectAll()">
    Clear Selection</button>

<p>
    <div class="qlik-embed" data-qlik-objid="jgMfg" data-qlik-appid="8db019c1-fd16-444a-a7d4-c1badc890ba8" data-qlik-select="clearall"
        style="height: 400px;margin-bottom:100px;">
    </div>
</p>