@{ ViewData["Title"] = "CRM Notes"; }

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <div class="qlik-embed" data-qlik-objid="VsaUWh" data-qlik-appid="7595e7de-9a2c-4c93-9b1b-36ef396e44c0" style="height: 400px;">
    </div>
</p>